/* Formulario de subscripción */



form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border:3px solid rgb(218, 238, 218);
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin-top: 300px;
 overflow: auto;
 box-sizing:border-box;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
  padding-top: 10px;
  Color:white;
}

.subscribeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 3px solid #ffffff;
}


.inputContainer {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ececee;
  margin: 10px;
}

.inputContainer.comentario{
height: 200px
}

.inputContainer input {
  font-size: 18px;
  color: #000;
  padding: 15px 10px;
  border: none;
  outline: none;
  background-color: #ececee;
  text-indent: 10px;
  width: 100%;
  box-sizing:border-box;
}

.inputContainer select {
  font-size: 18px;
  color: #000;
  padding: 15px 10px;
  border: none;
  outline: none;
  background-color: #ececee;
  width: 100%;
}

#countries {
  direction: initial;
}

#submitButton {
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #5959d4;
  margin-top: 20px;
}

@media (max-width: 800px) {

}




.check-box-group {
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
  
}

.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
 
}

.custom-checkbox .label {
  font-size: 1.2em;
  margin: 0 10px;
}

.custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  border: 2px solid #222;
  display: inline-block;
  border-radius: 3px;
  background: rgb(0, 0, 0) url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
  transition: background-size 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
  display: none;
}
