body {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  background-color: #efdede;
}

/* Site header */

.siteHeader {
  padding: 30px;
  text-align: center;
  color: #333;
  background-color: #f1f1f1;
  border: 2px solid black;
  margin-bottom: 10px;
}

.siteheader h1 {
  font-size: 50px;
}

/* Brand name */

.brandTitle {
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* navBar */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #ffffff;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}
/* Ham button */
.toggle-button-container {
  margin-left: auto;
  margin-right: 1.2rem;
}

.toggle-button {
    position: absolute;
  top: 6.35rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  padding: 0.85rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

/* media querys  */
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}


/* Formulario de subscripción */

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.subscribeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 3px solid #d00c0c;
}

.inputContainer {

  padding: 10px;
  border: 1px solid black ;
  border-radius: 5px;
  background-color: #ececee;
  /* box-shadow: 01px 10px 15px #e7c4c4, -10px -10px 15px #fff; */
}

.inputContainer input {
  font-size: 18px;
  color: #000;
  padding: 15px 10px;
  border: none;
  outline: none;
  background-color: #ececee;
}

#submitButton {
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #5959d4;
  margin-top: 20px;
}
